.vs
__pycache__
/build
/Include/rsg/Mesh.h
/Include/rsg/NodeGeometry.h
/Include/rsg/Scene.h
/Include/rsg/SceneLayer.h
/Include/rsg/NodeTransform.h
/Include/rsg/rsg.h
/Include/rsg/v1_0
/Include/rsg/rsg.cpp
/Include/rsg/rsgPackageHandler.inl
/Include/rsg/pdsImportsAndDefines.h
