.vs
__pycache__
/Include/rsg/Mesh.h
/Include/rsg/NodeGeometry.h
/Include/rsg/Scene.h
/Include/rsg/SceneLayer.h
/Src/Scene.cpp
/Src/SceneLayer.cpp
/Src/Mesh.cpp
/Src/NodeGeometry.cpp
/Src/*.user
/build
/Include/rsg/NodeTransform.h
/Include/rsg/rsg.h
/Src/NodeTransform.cpp
